.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  h1 {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    text-align: center;
    color: #333333;
    margin: 30px 0 30px;
    @media (max-width: 480px) {
      font-size: 24px;
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #0d6efd;
    cursor: pointer;
  }
}
